$black: #000000;
$white: #f6f6f6;
$light-blue: #529bd5;
$dark-blue: #003d7d;
$green: #81bd39;

body {
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $black;
}

table.table {
  border-collapse: collapse;
  td {
    border: 1px solid $black;
  }

  td.heading {
    padding: 0.5em;
  }
  
  td.data {
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 1em;
    padding-right: 1em;
  }

  thead {
    font-weight: bold;
  }

  td.action {
    padding: 0.5em;
  }

  button.action {
    background-color: $green;
    color: $black;
    font-weight: bold;
    font-size: 0.9em;
    border: none;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

  button.action:hover {
    background-color: $dark-blue;
    color: $white;
  }
}